{% extends "base.html.twig" %}

{% block main  %}
    <h1>Article</h1>

    <h2>{{ article.title|e }}</h2>
    <p>{{ article.content|e }}</p>
    <p>Auteur: {{ article.user|capitalize }}</p>
    <p>Catégorie(s):
        {% for category in article.categories %}
            {% if not loop.last %}
                {{ category.wording ~ ', ' }}
            {% else %}
                {{ category.wording }}
            {% endif %}

        {% endfor %}
    </p>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}